<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heroic Brawl</title>
</head>
<body>
    <h1>Heroic Brawl</h1>
    <h2>Olá Aventureiro!</h2>
    <header>

    </header>
    <article>

    </article>
    <footer>
        
    </footer>
</body>
</html>