<% include elements/header %>
<div class="loginBox">
    <img src="https://lh3.googleusercontent.com/-6KdjS8BAr0c/AAAAAAAAAAI/AAAAAAAAABE/vWUbL7nhNGk/photo.jpg?sz=50" class="user">
    <form>
        <p>Email</p>
        <input type="text" name="" placeholder="Digite o Email">
        <p>Senha</p>
        <input type="password" name="" placeholder="Digite a Senha">
        <input type="submit" name="" value="Entrar">
        <a href="#">Esqueceu a senha?</a><br>
        <a href="#">Criar uma conta</a><br>
        <a href="#">
                <img src="/images/code_images/sign-in-with-google.png">
              </a>
    </form>
</div>
<% include elements/footer %>