<% include elements/header %>
        <div id="login-box">
            <div id="login-box-interno">
                <div id="login-box-label">
                    Login
                </div>

                <div class="input-div" id="input-user">
                    <input type="text" value="Usuário ou E-mail">
                </div>

                <div class="input-div" id="input-password">
                        <input type="text" value="Senha">
                </div>

                <div id="botoes">
                    <div id="botao">Login</div>
                    <div id="lembrar-senha"><input type="checkbox"/> Lembrar minha senha </div>
                </div>
            </div>
        </div>
        <div id="esqueceu-senha">
            <b>Esqueceu a senha?</b> Clique aqui para enviar por email.
        </div>
<% include elements/footer %>